version: '3.8'
services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        GEMINI_API_KEY: ${GEMINI_API_KEY}
    ports:
      - "3010:3010"
    environment:
      - GEMINI_API_KEY=IHREN_API_SCHLÜSSEL_HIER_EINFÜGEN
    depends_on:
      - backend
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3011:3011"
    env_file:
      - ./backend/.env
